
<div class="gradient" ng-controller="mark_delay">
    <div class="header-bg">
          <div class="header-cell"><a ng-href="#!/dashboard"> <i class="ion-chevron-left"></i></a></div> 
        <div class="header-cell lato">
            <div class="header-cell-font"> Add Delay in Delivery </div>
        </div>
    </div>
    <div class="grid">
        <div class="login-top-bg">
            <div class="login-top-icon"> <img src="assets/images/logo.png"> </div>
            <div class="splash-logo-text"> </div>
        </div>

        <div class="input-group-bottom">
            <div class="have-any">Please enter the reason for delay in delivery</div>
			 <div class="have-any">{{success}}</div>
			 <div class="have-any" style="color:red;">{{invalid}}</div>

		</div>
        <div class="login-bottom-bg">
            <div class="input-group"> 
                <div class="dealy-delivery">
                    <textarea placeholder="Enter your reason here" ng-model="delay_reason" ng-keyup='checkValid()'></textarea>
                </div>
            </div>
            <div class="input-group-signup">
                <button ng-click="delayReasonSubmit();"> Submit </button>
            </div>
        </div>
    </div>
</div>