<div class="gradient" ng-controller="forgetpassword">
<div class="header-bg">
   <div class="header-cell"><a ng-href="#!/login"> <i class="ion-chevron-left"></i></a></div>
    <div class="header-cell"><div class="header-cell-font">Forgot Password </div> </div>
  </div>
  
    <div class="grid">
        <div class="login-top-bg">
            <div class="login-top-icon"> <img src="assets/images/logo.png"> </div>
        </div>

        <form name="userForm" ng-submit="submitForm(userForm)" method="post">
            <div class="login-bottom-bg"> <br>
                <div ng-if="invalid_message" class="custom_error">{{invalid_message}}</div>
                <div class="input-group"> <span class="input-group-addon" id="basic-addon1"> <i class="ion-iphone"></i></span>
                    <div class="input-group-bg">
                       
                        <input type="number" ng-trim="true" ng-minlength="10" ng-maxlength="15" name="mobile_no" placeholder="Enter your mobile number" ng-model="mobile_no" ng-required="true">
                    
                    </div>
                </div>
                <div ng-messages="userForm.mobile_no.$invalid && !userForm.mobile_no.$pristine && userForm.mobile_no.$error" class="validation_error" role="alert">
                    <div ng-message="required">You did not enter a mobile number</div>
                    <div ng-message="minlength">This field can be min 10 characters.</div>
                    <div ng-message="maxlength">This field can be max 15 characters.</div>
                </div>
               
                <div class="input-group-bottom">
                    <div class="have-any"> <br />We will send you an OTP using which you can set a new password</div>
                </div>

                <div class="input-group-bottom"> &nbsp; </div>
                <div class="input-group-signup">
                    <button> SUBMIT</button>
                </div>
            </div>
        </form>
    </div>
</div>